---
import Layout from '../layouts/Layout.astro';
import Downloader from '../components/Downloader.astro';
---

<Layout title="NexDL - Premium Media Downloader">
  <div class="w-full flex flex-col">
    <Downloader />
  </div>
</Layout>
